<div class="image-list">
  <div class="navigation">
    <h2>
      <% if (navigation.current) { %>
        <%= navigation.current.name %>
        <a href="/">&nbsp;&nbsp;x</a>
      <% } %>
    </h2>
    <% if (navigation.previous) { %>
      <a href="<%= navigation.previous.url %>">
        <div class="previous">
          <%= navigation.previous.name %>
        </div>
      </a>
    <% } %>
    <% if (navigation.next) { %>
      <a href="<%= navigation.next.url %>">
        <div class="next">
          <%= navigation.next.name %>
        </div>
      </a>
    <% } %>
  </div>
  <% _.each(images, function(image) { %>
    <div class="photo">
      <img src="<%= image.url %>">
    </div>
    <div class="description">
      <% if (image.description) { %>
        &ldquo;<%= image.description %>&rdquo;
      <% } %>
    </div>
  <% }); %>
</div>
