<!DOCTYPE html>
<html lang="fi">
  <head>
    <title>Kyltti seikkailee - ei talvikunnossapitoa</title>

    <meta charset='utf-8'>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0">

    <!-- Load all custom stylesheets -->
    <link href="stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <link href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <!--[if IE]>
      <link href="stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->

    <!-- Load custom fonts -->
    <link href='http://fonts.googleapis.com/css?family=Rambla' rel='stylesheet' type='text/css'>

    <!-- Load IE support for HTML5 tags -->
    <!--[if lt IE 9]>
      <script src="html5shiv-3.6.2/html5shiv.js"></script>
      <script src="html5shiv-3.6.2/html5shiv-printshiv.js"></script>
    <![endif]-->

    <!-- Load IE hack for fluid images support -->
    <!--[if IE]>
      <script src="javascripts/imgsizer.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      </div><div class="header-image">
        <img src="images/kyltti_Hero.png">
      </div><div class="header-info">
        <h1>kyltti.com</h1>
        <p>Reissut ja tarinat jeejee wohoo lisää. Ja näin.</p>
        <p>Reissut ja tarinat jeejee mitä kuuluu kirjoita tähän jotain.</p>
        <p>Saa olla terävää.</p>
      </div>
    </header>
    <div class="container">
      <nav class="menu">
        <ul>
          <% _.each(destinations, function(name) { %>
            <li><%= name %></li>
          <% }); %>
        </ul>
      </nav><div class="content">
        <%= content %>
      </div>
      <hr>
      <footer>copyright kyltti.com | posti@kyltti.com</footer>
    </div>
  </body>
</html>
