header {
  //background-color: $headerColor;
  background-color: $darkGreyColor;
  background-image: url('../images/hero_bg_1600.jpg');
  background-position: center;
  color: $lightGreyColor;

  height: 415px;

  div.header-info {
    @include inline-block(top);
    width: $headerInfoWidth;
    @include box-sizing(border-box);

    padding-right: 10px;
    p {
      margin-bottom: 10px;
    }
  }

  div.header-image {
    @include inline-block(top);
    //width: 100% - $headerInfoWidth;
    width: 100%;
    @include box-sizing(border-box);
    position: relative;
    padding-top: 40px;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      float: inherit;
      max-width: 100%;
    }
    div.reflection {
      max-width: 100%;
      position: absolute;
      top: 100%;
      right: 0;

      > img {
        /* IE<10 support */
        filter: flipv();
        @include scaleY(-1);
      }
      > div {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;

        @include filter-gradient(rgba($headerColor, 0.8), rgba($headerColor, 1.0), vertical);
        @include background-image(linear-gradient(rgba($headerColor, 0.8) 0%, rgba($headerColor, 1.0) 100%));
      }
    }
  }

  @include clearfix;
}

@media (max-width: 767px) {
  header {
    padding-left: 0;
    padding-top: 30px;
    padding-bottom: 0;
    height: 100%;

    div.header-info {
      width: 100%;
      text-align: center;
      padding-left: $photoPadding * 2;
      padding-right: $photoPadding * 2;
      padding-bottom: 20px;
      h1 {
        display: none;
      }
    }
    div.header-image {
      width: 100%;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 40px;
      div.reflection {
        display: none;
      }
    }
  }
}
