div.photo {
  // Relative positioning for absolute caption
  float: left;
  position: relative;

  // Border-box needed for fluid padding
  @include box-sizing(border-box);
  padding: $photoPadding;

  > img {
    // Remove all paddings/margins from image
    display: block;
    padding: 0;
    margin: 0;

    // Fluid width
    width: 100%;
    height: auto;

    // Styles of the actual photo
    border: 1px solid $photoBorderColor;
    @include box-shadow(3px 3px 4px black);
    @include box-sizing(border-box);
  }

  > div.caption {
    overflow: hidden;
    position: absolute;

    // Position according to padding
    bottom: $photoPadding;
    left: $photoPadding;
    right: $photoPadding;

    // Styling of the caption text
    background-color: black;
    text-align: center;
    color: white;

    > p {
      // Padding for the caption text
      padding: $photoCaptionPadding;
      margin: 0;
    }

    // Show caption only when hovering
    @include opacity(0.0);
  }
  &:hover > div.caption {
    @include opacity($photoCaptionOpacity);
  }
}

@media (max-width: 767px) {
  div.photo {
    > div.caption {
      @include opacity($photoCaptionOpacity);
    }
  }
}

