/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/opacity";
@import "compass/css3/inline-block";
@import "compass/utilities/general/clearfix";

$headerColor: #cec6be;
$lightGreyColor: #474747;
$darkGreyColor: #1e1e1e;

$headerInfoWidth: 30%;
$menuWidth: 15%;

@import "header";
@import "photo";

body {
  font-family: 'Rambla', sans-serif;
  background-color: $darkGreyColor;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}

hr {
  background-color: $lightGreyColor;
  color: $lightGreyColor;
  margin-top: 50px;
  border: 0 none;
  height: 1px;
}

header {
  margin-left: -20px;
  margin-right: -20px;
}

footer {
  color: $lightGreyColor;
  text-align: center;
}

h1 {
  font: 300%/1.4 'Rambla', sans-serif;
  margin-bottom: 30px;
  color: black;
}

nav.menu {
  @include inline-block(top);
  width: $menuWidth;
  color: $lightGreyColor;
  @include box-sizing(border-box);
}

div.content {
  @include inline-block(top);
  width: 100% - $menuWidth;
  @include box-sizing(border-box);
}

div.image-grid {
  div.photo {
    width: 25%;

    // This makes loading look nicer
    min-height: 60px;
  }
}

@media (max-width: 767px) {
  body {
    margin-left: 0;
    margin-right: 0;
  }
  header {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    div.header-image-small {
      padding-left: 10px;
      display: block;
    }
    div.header-info {
      width: 100%;
      text-align: center;
      h1 {
        display: none;
      }
    }
    div.header-image {
      display: none;
    }
  }

  nav.menu {
    display: none;
  }
  div.content {
    width: 100%;
  }
  div.image-grid {
    div.photo {
      width: 50%;
    }
  }
}

