/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/opacity";
@import "compass/css3/inline-block";
@import "compass/css3/transform";
@import "compass/css3/images";
@import "compass/utilities/general/clearfix";
@import "compass/typography/links/unstyled-link";

$headerColor: #cec6be;
$lightGreyColor: #474747;
$darkGreyColor: #1e1e1e;

$containerMargin: 40px;

$headerInfoWidth: 30%;
$menuWidth: 15%;

@import "header";
@import "photo";

body {
  font-family: 'Rambla', sans-serif;
  background-color: $darkGreyColor;
  margin-bottom: 40px;
}

a {
  @include unstyled-link;
  cursor: pointer;
}

hr {
  background-color: $lightGreyColor;
  color: $lightGreyColor;
  margin-top: 50px;
  border: 0 none;
  height: 1px;
}

footer {
  color: $lightGreyColor;
  text-align: center;
}

h1 {
  font: 300%/1.4 'Rambla', sans-serif;
  margin-bottom: 30px;
  color: black;
}

div.container {
  margin-left: $containerMargin;
  margin-right: $containerMargin;
  @include box-sizing(border-box);
}

nav.menu {
  @include inline-block(top);
  width: $menuWidth;
  color: $lightGreyColor;
  @include box-sizing(border-box);
  li.selected {
    color: white;
  }
}

div.content {
  @include inline-block(top);
  width: 100% - $menuWidth;
  @include box-sizing(border-box);
}

div.image-grid {
  div.photo {
    width: 25%;

    // This makes loading look nicer
    min-height: 60px;
  }
}

@media (max-width: 767px) {
  div.container {
    margin-left: 5px;
    margin-right: 5px;
  }
  nav.menu {
    display: none;
  }
  div.content {
    width: 100%;
  }
  div.image-grid {
    div.photo {
      width: 50%;
    }
  }
}

