/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/opacity";
@import "compass/css3/inline-block";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/images";
@import "compass/utilities/general/clearfix";
@import "compass/typography/links/unstyled-link";

$headerColor: #cec6be;
//$lightGreyColor: #474747;
$lightGreyColor: #696969;
$lightGreyBodyColor: #303030;
$darkGreyColor: #1e1e1e;

$headerPadding: 76px;

$containerMargin: 80px;

$headerInfoWidth: 30%;
$menuWidth: 15%;

$arrowWidth: 6px;
$arrowColor: white;

$photoPadding: 5px;
$photoBorderColor: #474747;
$photoCaptionOpacity: 0.8;
$photoCaptionPadding: 7px;

$newsBodyColor: rgb(30, 30, 30);
$linkColor: rgb(206, 130, 24);
$groupArrowColor: $linkColor;

@import "header";
@import "photo";
@import "news";
@import "flip";

body {
  font-family: 'Rambla', sans-serif;
  background-color: $lightGreyBodyColor;
  margin-bottom: 40px;
}

a {
  @include unstyled-link;
  cursor: pointer;
}

hr {
  background-color: $lightGreyColor;
  color: $lightGreyColor;
  border: 0 none;
  height: 1px;
}

footer {
  color: $lightGreyColor;
  text-align: center;
}

h1 {
  font: 300%/1.4 'Rambla', sans-serif;
  margin-bottom: 30px;
  color: black;
}

div.container {
  margin-left: $containerMargin;
  margin-right: $containerMargin;
  @include box-sizing(border-box);
}

nav.menu {
  @include inline-block(top);
  width: $menuWidth;
  color: $lightGreyColor;
  @include box-sizing(border-box);
  li {
    margin-bottom: 4px;
    font-size: 0.95em;
    a {
      &:hover { color: $linkColor; }
    }
  }
  li.selected {
    color: $linkColor;
    &:before {
      content: '';
      position: absolute;
      border: $arrowWidth solid transparent;
      border-left-color: $groupArrowColor;

      /* These values are mostly by trial and error */
      margin-left: -12px;
      margin-top: 1px;
    }
  }
}

div.content {
  @include inline-block(top);
  width: 100% - $menuWidth;
  @include box-sizing(border-box);
  margin-bottom: 30px;
}

div.image-grid {
  div.photo {
    width: 20%;

    // This makes loading look nicer
    min-height: 40px;
  }
}

div.image-list {
  color: white;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;

  div.navigation {
    padding-left: $photoPadding;
    padding-right: $photoPadding;
    @include clearfix;
    h2 {
      text-align: left;
      font-size: 2em;
      margin-bottom: 30px;
    }
    div.previous {
      float: left;
      &:before {
        content: '';
        float: left;
        border: $arrowWidth solid transparent;
        border-right-color: $arrowColor;

        /* These values are mostly by trial and error */
        margin-top: 2px;
        margin-right: 6px;
      }
    }
    div.next {
      float: right;
      &:before {
        content: '';
        float: right;
        border: $arrowWidth solid transparent;
        border-left-color: $arrowColor;

        /* These values are mostly by trial and error */
        margin-top: 2px;
        margin-left: 6px;
      }
    }
  }

  div.photo {
    float: none;
  }
  div.description {
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  div.container {
    margin-left: $photoPadding;
    margin-right: $photoPadding;
  }
  nav.menu {
    display: none;
  }
  div.content {
    width: 100%;
  }
  div.image-grid {
    div.photo {
      width: 50%;
    }
  }
  div.image-list {
    margin-left: 0;
    margin-right: 0;
  }
}

